.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.check-in{
    grid-column: span 3;
}
.check-out{
    grid-column: span 3;
}
.daily-average{
    grid-column: span 3;
}
.weekly-average{
    grid-column: span 3;
}
.bar{
    grid-column: span 9;
    grid-row: span 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
     rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
     border-radius: 8px;
}
.busiest-day{
    grid-column: span 3;
    grid-row: span 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.header-day{
    height: 10%;
}
.busiest-day-header{
margin: 10px 0 0 10px;
font: 16px 'Cascadia Code' bold;
color: rgb(117, 115, 115);
}