.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.text-notify{
    color: rgb(182, 176, 176);
    font-family: 'Cascadia Code';
    height: 100%;
}